*{
  padding:  0px;
  margin:  0px;
  box-sizing: border-box;
  font-weight: normal;
}

body{
  max-width: 960px;
  margin: auto;
  background: #FFFAE5;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

h2{
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: normal;
}

.catchy{
  padding: 10px 0px 20px 0px;
  text-align: center;
  border: 1px solid #8c6b48;
  border-radius: 5px;
  background-color: lightblue;
  filter: drop-shadow(3px 3px 3px darkgrey);
}

.producto {
  margin: 25px 0px;
  color: black;
  font-weight: normal;
}

.navigation ul {
  padding-top: 10px;
  text-align: center;
  z-index: 1;

}

.navigation li {
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  display: inline-block;
  list-style: none;
}

.navigation a{
  text-decoration: none !important;
  color: #8c6b48;
}

.pro a{
  border-radius: 10px;
  border: 2px solid orange;
  padding: 8px;
  color: white;
  background-color: #8c6b48;
}

.pro a:hover{
  background-color:#8c6b48;
  color:  darkorange;
  box-shadow: 1px 1px;
}

main h1 {
  text-align: center;
  margin:  25px 0px 25px 0px;
  font-weight: 900;
}


article {
  margin-top: 50px;
  margin-bottom: 100px;
}

table, th, td {
  text-align: center;
  padding: 5px;
  margin:  0 auto;
  border: 1px solid #8c6b48;

}

thead {
  background-color: white;
}

footer{
  position: fixed !important;
  width: 960px;
  z-index: 1;
  bottom: 0;
  background-color: lightblue;
  opacity: 0.95;
}
footer ul li{
  padding: 15px;
  display: inline-block;
  list-style: none;
}

footer ul li {
  vertical-align: middle;
}

a:hover {
  color: darkorange;
  text-decoration: none !important;
}

ul.services{
  padding: 20px;
  display: flex;
  align-items: center;
  clear: right;

}

ul.services li{
  font-size: 20px;
  display: inline-table;
  background-color: lightblue;
  list-style: none;
  width: 400px;
  height: 225px;
  padding: 10px 0px;
  margin-bottom: 3px ;
  border: 1px solid #8c6b48;
  margin: 30px 30px;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
  margin: 10px 10px;
  filter: drop-shadow(3px 3px 3px darkgrey);

}

.services .fav{
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.services .category {
  color: white;
  font-weight: 100;
  font-size: 25px;
  display: block;
  font-weight: normal;
  margin: 5px 0px 0px 0px;
  color: #8c6b48;
  line-height: 1.1;
  height:  40px;
  padding: 0px 1px 2px 1px;
  width: 95%;
}

.services .value {
  color: white;
  font-size: 20px;
  text-decoration: none !important;
  font-weight: 700;
  display: block;
  font-weight: normal;
  margin-top: 10px;
  color: black;
  line-height: 1.1;
}

.email {
  border-radius: 4px;
  border: 1px solid #8c6b48;
  padding: 5px 10px;
  margin: 2px 2px;
  color: #8c6b48;
  font-family: 'Oswald', sans-serif;
}

.email:hover{
  background-color: #8c6b48;
  color: white;
}

.email:active{
  background-color: #8c6b48;
  color: darkred;
}

.calltoaction {
  border-radius: 4px;
  border: 1px solid #8c6b48;
  padding: 0px 10px;
  margin: 2px 2px;
  color: #8c6b48;
}
/*remember to have the right cascade order: link, visited, hover, active **/

.calltoaction:hover{
  background-color: #8c6b48;
  color: white;
}

.calltoaction:active{
  background-color: #8c6b48;
  color: darkred;
}

form input {
  height: 35px;
  border-radius: 4px;
  color: #8c6b48;
  border: 1px solid #8c6b48;
  background-color: #FFFAE5;
  display: inline-block;

}

.avatar{
  background-image: url(`../images/xxx);
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
  vertical-align: middle;
}

.emailbox{
  padding-left: 10px;
}

.submit {
  background-color: #8c6b48 ;
  color: white;
}
.submit:hover{
  background-color: red;
  color: white;
}


/* se puede meter breadcrumb con una regla CSS como:
.breadcrumb li+li::before {
  padding: 10px;
  content: ">";
}
*/
